div{
    border:solid;
}
.dentro{
margin: 15px;
}

.masDentro{
    margin: 15px;
    
    }
.div2{
    margin:50px;
}
.etiqueta1{
    background-color: rgb(238, 238, 207);
    width:900px;
    margin 0px auto;
    border:solid;
}
h2{

    padding:40px;
    text-align:center;
    margin-top:0px;
    text-align:20px;
    font-size: 45px;
    font-weight:bold;
    }
.formato1{
    margin:20px;
}
.li1{
    display:inline-block;
    vertical-align: 125px;  
    margin:50px;
}

    
  .li2 {
    display:inline;
    margin:10px;
     font-style:italic; 
     font-weight:bold;
      text-align:20px;
      font-size: 40px;  
      }


.img1:hover{
 width:30%;
}

 a{
    color:black;
}
       .cuadro2{
            background:  rgb(238, 238, 207);
            border:solid ;
          width:900px;
        
        padding:30px 0px 30px 0px ;
    }
 .cuadro2 li{  
    display:inline-block;
    text-align: center;
    width:30%;
    vertical-align: top;
    
    }
    .cuadro2 p{
        font-size: 30px;
        font-weight: bold;
    }
    .cuadro2 h3{
        font-size: 10px;
        font-weight: bold;
        margin-top:10px;
        text-color:red;
    }
    .img2{
                    width:30%;
        }


