#dibujando {
    background: url("imagenes/el-juego-de-el-ahorcado.png");
    width: 0px auto;
}

#pregunta {
    position: absolute;
    border-bottom: solid 4px #0a3871;
    width: 45%;
    height: 8%;
    margin: 530px 10px;
    font-size: 20px;
}

.box1 {
    position: absolute;
    margin: 480px 80px;
    border: solid 2px;
    width: 70px;
    height: 40;
    font-size: 30px;
}

.box2 {
    position: absolute;
    margin: 480px 180px;
    border: solid 2px;
    width: 70px;
    height: 40;
    font-size: 30px;
}

.box3 {
    position: absolute;
    margin: 480px 280px;
    border: solid 2px;
    width: 70px;
    height: 40;
    font-size: 30px;
}

.box4 {
    position: absolute;
    margin: 480px 380px;
    border: solid 2px;
    width: 70px;
    height: 40;
    font-size: 30px;
}

.box5 {
    position: absolute;
    margin: 480px 480px;
    border: solid 2px;
    width: 70px;
    height: 40;
    font-size: 30px;
}

.boox {
    color: blue;
}

.boox2 {
    color: green;
}

.congratulation {
    background: url("imagenes/alura.jpg");
    position: absolute;
    border: solid 3px;
    color: blue;
    padding: 15px 0px;
    box-shadow: 10px 10px 30px 15px darkblue;
}

.begin {
    background: url("imagenes/logoalura.png");
    position: absolute;
    border-radius: 20px;
    border: ridge 4px;
    padding: 15px 0px;
    transition: 300ms
}

.img {
    width: 20%;
}